<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>EL RINCÓN DEL CINE - Acceso</title>
   <link th:href="@{/styles/login.css}" rel="stylesheet" id="bootstrap-css">
   <link th:href="@{/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
   <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
   <script th:src="@{/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
   <div class="sidenav">
      <div class="login-main-text">
         <h2>EL RINCÓN DEL CINE</h2>
         <p>Administración y gestión</p>
      </div>
   </div>
   <div class="main">
      <div class="col-md-6 col-sm-12">
         <div class="login-form">
            <form method="POST" th:action="@{/loginprocess}">
               <div class="form-group">
                  <label>Nombre de usuario</label>
                  <input type="text" class="form-control" name="username" placeholder="User Name">
               </div>
               <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
               </div>
               <button type="submit" class="btn btn-dark text-white">Entrar</button>
               <a href="#" class="btn btn-secondary">Ayuda</a>
               <div>
                  <p th:text="${ultimoAcceso}"></p>
                  <p th:if="${param.error}" style="font-size: 16px; color: red;">Validación incorrecta</p>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>